<div class="home">
    <div class="lado1">
        <h1>Queijos <br>
            Artesanais <br>
            de <span>{{ textoFinal }}</span></h1>
    </div>
    <div class="lado2">
        <div class="cima">
            <button routerLink="/produtos" class="btn-iniciar">
                <div class="imagem-container">
                  <img src="assets/imagens/queijo01.png" alt="Queijo Artesanal" class="imagem-botao">
                  <h2 class="texto-sobre-imagem">Produtos</h2>
                </div>
              </button>
              <button routerLink="/formulario" class="btn-iniciar">
                <div class="imagem-container">
                  <img src="assets/imagens/queijo02.png" alt="Queijo Artesanal" class="imagem-botao">
                  <h2 class="texto-sobre-imagem">Clientes</h2>
                </div>
              </button>
        </div>
        <div class="baixo">
            <button routerLink="/formulario" class="btn-iniciar">
                <div class="imagem-container-baixo">
                  <img src="assets/imagens/queijo03.png" alt="Queijo Artesanal" class="imagem-botao-baixo">
                  <h2 class="texto-sobre-imagem">Pedidos</h2>
                </div>
            </button>

            
        </div>
    </div>
</div>