.produtos-container {
    background-color: #111317;
    min-height: 100vh;
    padding: 20px;
    color: #f5e9dc;
    font-family: outfit;
}
  
.voltar-btn {
    background: none;
    border: none;
    color: #f5e9dc;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    transform: scale(1); 
}

.voltar-btn:hover{
    transform: scale(1.1); 
}
  
.produtos-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
  
.produto-card {
    background-color: #f5e9dc;
    color: #111317;
    border-radius: 12px;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}
  
.produto-card:hover {
    transform: scale(1.02);
}
  
.produto-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
  
.produto-card h2 {
    font-size: 20px;
    margin: 10px 0 5px 0;
}
  
.produto-card p {
    font-size: 18px;
    margin: 2px 0;
}
  
.preco {
    font-weight: bold;
    margin-top: 5px;
}
  
.acoes {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

.acoes img{
    width: 30px;
    height: 30px;
}
  
.acoes button {
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
  
.acoes .editar {
    background-color: #111317;
    color: #f5e9dc;
}
  
.acoes .excluir {
    background-color: #ff4d4f;
    color: white;
}
  
.adicionar-card {
    background-color: #f5e9dc;
    color: #111317;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.adicionar-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
  
.adicionar-conteudo img {
    height: 60px;
    width: 60px;
}  

.modal-excluir {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.modal-conteudo {
    background: #f5e9dc;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    color: #111317;
}
  
button.cancelar-btn {
    padding: 10px 20px;
    background-color: #f4e6d7;
    border: 2px solid #b84c4c;
    color: #b84c4c;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}
  
button.cancelar-btn:hover {
    background-color: #f8d7da;
}
  
button.confirmar-btn {
    padding: 10px 20px;
    background-color: #4e7d4e;
    border: none;
    color: #f4e6d7;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.confirmar-btn:hover{
    background-color: #3d6b3d;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.titulo-sucesso{
    color: #4e7d4e;
}